// Colors
:root {
    --primary: #1F2B6C;
    --secondary: #159EEC;
    --accent: #BFD2F8;
    --black: #212124;
    --white: #FCFEFE;
    --primary-opacity: rgba(31, 43, 108, 0.2);
}

// Typography
@include font('Yeseva', '../assets/fonts/Yeseva/YesevaOne-Regular');
@include font('Montserrat-Bold', '../assets/fonts/Montserrat/MontserratAlternates-Bold');
@include font('Montserrat-Medium', '../assets/fonts/Montserrat/MontserratAlternates-Medium');
@include font('Montserrat', '../assets/fonts/Montserrat/MontserratAlternates-Regular');
